---
---

// import custom variables and mixins to extend BS4
@import "lone-wolf-theme/override-bs4";

body {
    background-color: beige;
}


  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
  }
  
    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
      .container,
      .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  


*, *::before, *::after {
    box-sizing: border-box;
}

h1{
  color: orangered;
  text-align: center;
}

.home-page{
  background-color: beige;
}