
---
# Only the main Sass file needs front matter (the dashes are enough)
---

// import custom variables and mixins to extend BS4
@import "lone-wolf-theme";

body {
    background-color: beige;
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightcoral;
    }
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: $navbar-padding-y $navbar-padding-x;
  
    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
    > .container,
    > .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  body {
    margin: 0;
    font-family: "Ubuntu",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: right;
    background-color: beige;
}

*, *::before, *::after {
    box-sizing: border-box;
}
