
---
# Only the main Sass file needs front matter (the dashes are enough)
---

// import custom variables and mixins to extend BS4
@import "lone-wolf-theme";

body {
    background-color: beige;
}

@media only screen and (orientation: landscape) {
    body {
      background-color: lightcoral;
    }
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: $navbar-padding-y $navbar-padding-x;
  
    // Because flex properties aren't inherited, we need to redeclare these first
    // few properties so that content nested within behave properly.
    > .container,
    > .container-fluid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }